html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Assure une largeur complète */
  height: 100%;
  overflow-x: hidden; /* Empêche le défilement horizontal indésirable */
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* La page occupe toute la hauteur de l'écran */
  width: 100%; /* La page occupe toute la largeur de l'écran */
  overflow: hidden; /* Supprime tout débordement */
}

.header {
  flex: 0 0 auto; /* La hauteur du header est fixe */
  width: 100%; /* Étendre le header sur toute la largeur */
}

.main {
  flex: 1 1 auto; /* Le contenu principal s'étire pour remplir l'espace restant */
  width: 100%; /* Étendre le contenu principal sur toute la largeur */
}

.footer {
  flex: 0 0 auto; /* La hauteur du footer est fixe */
  width: 100%; /* Étendre le footer sur toute la largeur */
}

img, video, iframe {
  max-width: 100%; /* Empêche les médias de dépasser la largeur du parent */
  height: auto; /* Maintient les proportions des médias */
}

* {
  margin: 0;
}
