hr {
  border: 1px solid #FFA500; ; /* couleur orange */
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d8cab8;
  font-size: 0.8rem;
  z-index: 1000; /* Assure que le footer est toujours au-dessus d'autres éléments */
}

