<div class="content-container">
  <div class="image-container">
    <img src="assets/img/fstm.png" alt="Magical Image" class="magic-image">
  </div>
  <p class="welcome-text">
    <span class="text-animation">Bienvenue sur votre application de gestion administrative</span>
  </p>
  <span class="bottom-background"> <br>
    <img src="assets/img/fstg.png" alt="Magical Image" class="magic-image"> &nbsp;
    <img src="assets/img/fstg.png" alt="Magical Image" class="magic-image"> &nbsp;
    <img src="assets/img/fstg.png" alt="Magical Image" class="magic-image"> &nbsp;
    <img src="assets/img/fstg.png" alt="Magical Image" class="magic-image"> &nbsp;
    <img src="assets/img/fstg.png" alt="Magical Image" class="magic-image"> &nbsp;
    <img src="assets/img/fstg.png" alt="Magical Image" class="magic-image"> &nbsp;
    <div class="university-text-animation">Université Cadi Ayyad</div>
  </span>
</div>
