
<section class="hero">
</section>

<section id="actualites" class="actualites">
  <h2>Actualités & Événements</h2>
  <div class="news-container">
    <article class="news-item">
      <h3>Nos Actus</h3>
      <p>Un concentré d'innovations, de rencontres et d'opportunités à ne pas manquer.</p>
      <a href="https://actu.univ-rennes.fr/">En savoir plus</a>
    </article>
    <article class="news-item">
      <h3>Nos Events</h3>
      <p>Une occasion unique de vous informer, de découvrir et de participer à la vie universitaire.</p>
      <a href="https://www.univ-rennes.fr/tous-nos-evenements">En savoir plus</a>
    </article>
  </div>
</section>


